{%extends "base.html" %}
{%block title%}Home{%endblock%}
{%block body%}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename ='homeimg/mypic.png')}}" alt="path not found"
        width="220" height="220">
    <h1 class="display-5 fw-bold">Pawan Katwe</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">A curiosity-driven data science student, eager to leverage machine learning and data
            analytics to extract meaningful insights, make
            informed decisions and solve challenging business problems. I make it a point to contribute with my knowledge,
            logical thinking and analytical
            skills towards the consistent growth and development of the organization, and enhance my experience through
            continuous learning
            and teamwork.</p>
            <a class="btn btn-secondary" href="https://github.com/PawanKatwe" role="button">Github</a>
            <a href="https://www.linkedin.com/in/pawankatwe" class="btn btn-secondary my-2" role="button">Linked in</a>
        </div>
    </div>
</div>


{%endblock%}