{%extends "base.html" %}
{%block title%}This is the new home page{%endblock%}
{%block body%}

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><b>My Portfolio</b></h1>
        <p class="lead text-muted"><h4>My portfolio is representaion of all that I have learned and accomplished as a Data Science student.</h4></p>
        <p>
          <a href="https://github.com/PawanKatwe" class="btn btn-primary my-2">Github</a>
          <a href="www.linkedin.com/in/pawankatwe" class="btn btn-secondary my-2">Linked in</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <!-- post starts-->
        <!--looping through project dictionary-->
        {%for project in project %}
        <div class="col">
          <div class="card shadow-sm">
              
            <img class="bd-placeholder-img card-img-top" src={{ url_for('static', filename =project.img_link)}} alt="path not found"
            height=225; width=100%;>
              
            <div class="card-body">
             
              <p class="card-text">{{project.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action={{project.github}}> <button type="submit"
                      class="btn btn-sm btn-outline-secondary">View Code</button>
                  </form>
                  {% if project['app'] != 'no'%}
                  <form action={{project.app}}>
                  <button type="submit" class="btn btn-sm btn-outline-secondary" >View App</button>
                  </form>
                  {% endif %}
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                </div>
              </div>
            </div>
          </div> 
        </div>
        {%endfor %}
        <!--jinja template loop ends-->
        <!--post ends-->
      </div>
    </div>
  </div>

</main>

{%endblock%}